@using App;
@using App.Models;
@using App.Extentions;
@model App.Models.CreateFormData;

<form class="form form-narrow" id="lot-create-form"
    action="/lots/my/create" method="post"
    enctype="multipart/form-data"
>
    <label for="name">Название</label>
    <div class="form-field">
        <input id="title" name="title" type="text" required autofocus />
    </div>

    <label for="city">Город</label>
    <div class="form-field">
        <input id="city" name="city" type="text" required />
    </div>

    <label for="price">Цена</label>
    <div class="form-field">
        <input id="price" name="price" type="number" required />
    </div>

    <label for="count">Количество</label>
    <div class="form-field">
        <input id="count" name="count" type="number" step="1" value="1" min="1" required/>
    </div>

    <label for="tag">Категория</label>
    <div class="form-field">
        <select name="tag_id" id="tag" required>
            <option value="" selected>Выберите</option>
            @foreach(var tag in @Model.tags) {
                <option value="@tag.id">@tag.name</option>
            }
        </select>
    </div>

    <label for="end_time">Дата окончания</label>
    <div class="form-field">
        <input id="end_time" name="end_time" type="datetime-local" required />
    </div>

    <label for"description">Описание</label>
    <div class="form-field">
        <textarea id="description" name="description" type="text"></textarea>
    </div>

    <label for="thumbnail">Обложка</label>
    <div class="form-field">
        <input id="thumbnail-input" name="thumbnail" type="file" accept="image/*" />
        <div id="thumbnail-container" class="file-loader"></div>
    </div>

    <div class="file-load-toolbar">
        <label for="images">Фото товара</label>
        <button type="button" class="form-button" id="add-files">Добавить файлы</button>
        <button type="button" class="form-reset" id="clear-files">Очистить файлы</button>
        <div class="form-field file-loader">
            <input id="files-input" name="images" type="file" multiple accept="image/*" hidden />
            <div id="file-container" data-state="files" class="image-cards-container"></div>
            <script src="/js/files_load_toolbar.js"></script>
        </div>
    </div>

    <label for"payment_method">Метод оплаты</label>
    <div class="form-field">
        <select id="payment_method" name="payment_method" required>
            <option value="" selected>Выберите</option>
            @foreach (var p in G.EnumIterate<PaymentMethod>()) {
                <option value="@p.ToString()">@p.GetDescription()</option>
            }
        </select>
    </div>

    <label for"delivery_payment">Оплата доставки</label>
    <div class="form-field">
        <select id="delivery_payment" name="delivery_payment" required>
            <option value="" selected>Выберите</option>
            @foreach (var p in G.EnumIterate<DeliveryPayment>()) {
                <option value="@p.ToString()">@p.GetDescription()</option>
            }
        </select>
    </div>

    <div id="error">
        @await Html.PartialAsync("results")
    </div>

    <hr>

    <button class="form-submit" type="submit">Создать</button>
    <button class="form-reset" type="reset">Очистить</button>

    <script src="/js/lot_form.js"></script>
    <script src="/js/lot_create.js"></script>
</form>
