@model App.Models.HomePageModel.LotCard;
@{
    var current_page = (string?)ViewData["page"] ?? "0";
}

<div class="lot-card hover-shadow"
    hx-get="/lots/@Model.id?page=@current_page"
    hx-target="main"
    hx-push-url="true"
>
    <img src="@Model.image_path" alt="" />
    <p>@Model.title</p>
    <span class="lot-price">@Model.price</span>
    <p class="lot-card-end-time">
        @if (@Model.closed) {
            <span class="lot-card-closed">Закрыт</span>
        } else {
            <span>До</span>
        }
        @Model.end_time.ToString("dd MMM yyyy, hh:mm")
    </p>
</div>
